<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Road 3ripping</title>
    <link rel="stylesheet" href="guest.css">
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
    <script type="text/javascript" src="main.js"></script>
  </head>
  <body>

    <div id="leftContainer"></div>

    <div id="rightContainer">
      <p>this is a guest's page. just view only. cannot post. cannot share</p>
    </div>

  </body>
</html>
