<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Road3ripping</title>
  <link rel="stylesheet" href="../post.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
  <link href="https://fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
  <!-- need user.js file to run script -->
  <script type="text/javascript" src="../user.js"></script>
  <script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>

</head>
  <body>
    <div id="map"></div>

    <div id="rightContainer">
      <div id="logo">ROAD<br>3PPING</div>
      <div id="greeting"><strong>Hello</strong> <%- currentUser.firstName %>!</div>
      <form action="/auth/logout" METHOD="GET">
        <button id="logoutButton">Log out!</button>
      </form>

      <p>this is a create post page</p>


      <form action='/posting/create' METHOD='POST'>
        <input type='text' id='title' name='title' placeholder='title here'></input>
        <input type='text' id='category' name='category' placeholder='category here'></input>
        <input type='text' id='address' name='address' placeholder='address of location'></input>
        <input type='url' id='imageURL' name='imageURL' placeholder='image link here'></input>
        <textarea id='description' name='description' cols='40' rows='10' placeholder='your description here'></textarea>
        <button id='submitPost'>Create Post</button>
      </form>



    </div>


  </body>
</html>
