body {
  margin: 0px;
}

#map {
  /*background-color: #032459;*/
  position: absolute;
  left: 0px;
  width: 40%;
  height: 100%;
}

#rightContainer {
  /*background-color: #EDE5CA;*/
  position: absolute;
  right: 0px;
  width: 60%;
  height: 100%;
}

#logo {
  font-family: 'Rock Salt', cursive;
  color: black;
  font-size: 15px;
  /*margin-left: 20px;
  margin-top: 20px;*/
  padding: auto;
}


.imgContainer {
  width: 100px;
  height: 100px;
}

.image {
  width: 100%;
  height: 100%;
}

#header {
  text-align: center;
  margin: 0 auto;
  /*border: 1px solid black;*/
  width: 500px;
  margin-left: 155px;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  margin-top: 25px;
  display: inline-block;
}

#postContainer {
  display: inline-block;
  /*border: 1px solid black;*/
  margin: 10px 20px;
}

#grid {
  border: 1px solid black;
  width: 30%;
  height: 300px;
  margin-left: 20px;
}

#title {
  font-size: 20px;
  font-family: 'Permanent Marker', cursive;
}

#button {
  background-color: white;
  border: none;
}
