body {
  margin: 0px;
}

#map {
  /*background-color: #032459;*/
  position: absolute;
  left: 0px;
  width: 40%;
  height: 100%;
}

#rightContainer {
  /*background-color: #EDE5CA;*/
  position: absolute;
  right: 0px;
  width: 60%;
  height: 100%;
}

#logo {
  font-family: 'Rock Salt', cursive;
  color: black;
  font-size: 15px;
  /*margin-left: 20px;
  margin-top: 20px;*/
  padding: auto;
}

.entry {
  width: 400px;
  margin-top: 10px;
}

#entries {
  /*border: 1px solid black;*/
  width: 500px;
  height: 400px;
  margin: 0 auto;
  text-align: center;
  margin-top: 25px;
}

#greeting {
  text-align: center;
  margin: 0 auto;
  /*border: 1px solid black;*/
  width: 500px;
  margin-left: 155px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin-top: 25px;
  display: inline-block;
}

/*#title {
  width: 250px;
}*/
