/*body {
  margin: 0px;
}

.input {
  display: block;
}

#login {
  border: 1px solid black;
  width: 200px;
  margin: 0 auto;
  margin-top: 50%;
}

#signup {
  border: 1px solid black;
  width: 200px;
  margin: 0 auto;
  margin-top: 50%;
}

#blueContainer {
  background-color: #032459;
  position: absolute;
  left: 0px;
  width: 50%;
  height: 100%;
}

#beigeContainer {
  background-color: #EDE5CA;
  position: absolute;
  right: 0px;
  width: 50%;
  height: 100%;
}*/
